* {
  margin: 0;
  padding: 0;
}

body {
  background: url(./images/bckgnd.jpg);
  background-size: 100%;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  text-align: center;
  justify-content: center;
}

ul {
  list-style-type: none;
}

.name {
  font-family: 'Courgette';
  margin-top: 5em;
  font-weight: bold;
}

.missionBar {
  margin-top: 1.5em;
  padding: 1.5em;
  background-color: rgba(124, 110, 91, .3);
}

.nav {
  display: inline-flex;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}
